body {
    font-family: sans-serif;
    background-color: DarkOrange;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border: 2px solid royalblue;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 0 0 royalblue;
}

a:focus {
    box-shadow:inset 0 5px 0 2px royalblue;
    color: black;
    top: 10px;
}
img{
    width: 150px;
}
.container{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.dostyp{
    display: flex;
    justify-content: center;
    margin: 30px;
}
h2{
    font-size: 30px;
}
h1{
    font-size: 40px;
}
P{
    font-size: 20px;
}
.Gordon{
    margin: 30px;
}
h3{
    font-size: 25px;
}
.imena{
    justify-content: center;
    margin-left: 250px;
}
.shanie img{
    width: 275px;
}
